<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Control</title>
</head>
<body>
    <h1>Control Raspberry Pi GPIO</h1>
    <a type="button" href="/LED/on">Turn on</a>
    <a type="button" href="/LED/off">Turn off</a>
    <!-- <form action="/LED" method="post">
        <button type="submit" value="on">Turn LED On</button>
        <button type="submit" value="off">Turn LED Off</button>
    </form>
    <button onclick="location.href='/on'">Turn LED On</button>
    <button onclick="location.href='/off'">Turn LED Off</button> -->
</body>
</html>